/**
 * Copyright (c) 2011 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

body {
    margin: 0px;
    width: 240px;
    background-color: blanchedalmond;
}

header {
    font-weight: bold;
    line-height: 30px;
    padding-left: 3px;
}

.param-line {
    display: flex;
    width: 100%;
    line-height: 24px;
    border-top: 1px solid gray;
    /**/
    justify-content: space-between;
    /**/
}

.param-title,
.param-input {
    padding-left: 5px;
    /*
    border: 1px solid chartreuse;
    */
}

.param-input {
    width: 15%;
    text-align: center;
}

button {
    flex: 1;
    width: 32%;
    margin: 5px;
}

main {
    background-color: bisque;
}

header,
footer {
    background-color: burlywood;
}