dialog {
    border-radius: 10px;
    padding: 10px;
    width: 95%;
    height: 95%;
    max-width: 600px;
    position: absolute;
    z-index: 99999;
    border: 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5)
}

main {
    background-color: beige;
    width: 100%;
    height: 100%;
}

#pp-header {
    display: flex;
    height: 25px;
}

#pp-header>img,
#pp-header>div {
    flex: 1;
    background-color: azure;
}

#pp-header>img {
    max-width: 24px;
}

#pp-header>img:hover {
    border: 1px solid gray;
}

#pp-images {
    height: calc(100% - (24px + 24px + 55px));
    border: 1px solid #bbb;
}

.row {
    display: flex;
    width: 100%;
}

figure {
    margin: 0 auto;
    border-top: 1px solid #bbb;
    border-right: 1px solid #bbb;
    background-image: url(new.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    flex: 1;
    font-size: 0px;
    overflow: auto;
}

figure:hover {
    font-size: 12px;
    padding-left: 5px;
    color: #000;
    background-color: #fff;
    opacity: 0.7;
    /* */
    -webkit-transition: all ease-in-out 3s;
    -moz-transition: all ease-in-out 3s;
    -ms-transition: all ease-in-out 3s;
    -o-transition: all ease-in-out 3s;
    transition: all ease-in-out 3s;
    /* */
}

.fig-text {
    font-size: 12px;
}

.keywords-text {
    padding-left: 5px;
}

#pp-footer {
    background-color: #eee;
}

#pp-progress-bar {
    display: flex;
    background-color: azure;
    height: 24px;
}

#pp-progress-bar>a {
    border: 3px solid #999;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    width: 25%;
    text-align: center;
    visibility: hidden;
}

#pp-tool-bar {
    display: flex;
    justify-content: space-between;
    height: 60px;
}

#pp-tool-bar>button {
    margin: 10px;
}

#pp-header-text {
    font-weight: bold;
    background: darkkhaki;
}

.hidden-img-obj-id {
    visibility: hidden;
}